/*HTML PAGE*/

body {
    background-color: #f9f9f9;
}
.page {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 45px 60px 45px;
    width: 1060px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

/*HEADER*/

.logo {
    padding-bottom: 40px;
}
.header {
    padding: 0;
    background: #4f4f4f;
}
.header li {
    display: inline-block;
	width: 165px;
	padding: 13px 20px 13px 35px;
}
.header a {
    color: white;
    font-size: 15px;
}
.header li:hover {
    padding-left: 34px;
    width: 164px;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: #444444;
}
a, p {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 13px;
}

/*CONTAINER*/

.sidebar {
    padding: 0;
    float: left;
    margin-top: 40px;
    width: 240px;
    border: 1px solid #838383;
}
.sidebar li {
    list-style-type: none;
    border-bottom: 1px solid #838383;
}
.sidebar li:last-child {
    border: none;
}
.sidebar a {
    padding: 15px;
    display: block;
    color: #656363;
}
.sidebar li:hover {
    padding-left: 10px;
    font-weight: bolder;
    background: #f9f9f9;
    height: 43px;
}
.content {
    float: right;
    margin-left: 40px;
}
.content img {
    margin-top: 40px;
    padding: 80px;
    border: 1px solid #838383;
}
.content p {
    margin-top: 20px;
    padding: 0 30px;
    width: 600px;
}

/*FOOTER*/

.footer {
    padding: 0;
    margin-top: 700px;
    background: #e1e1e1;
}
.footer li{
    display: inline-block;
    width: 150px;
	padding: 13px 20px 13px 35px;
}
.footer a {
    padding: 20px;
    color: black;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer li:last-child {
    float: right;
    font-size: 13px;
    font-family: Open Sans;
}
